body {
  padding: 0px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  text-align: center;
}

h1,
h2 {
  font-weight: 400;
}

nav ul li {
  display: inline-block;
}

#homeimg {
  height: 400px;
  width: auto;
}

header {
  background-color: #222fe6;
  color: #fff;
}

header,
section {
  padding: 5% 5% 0px 5%;
}

.whitelink {
  color: #fff;
}

.active {
  color: #222fe6;
  background-color: #fff;
  border-radius: 3px 3px 0px 0px;
}

.nounderline {
  text-decoration: none;
  padding: 10px 10px 0px 10px;
}

img {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

img:hover {
  opacity: 1;
}
